In [2]:
import seaborn as sns
import pandas as pd

In [3]:
iris = sns.load_dataset('iris')
iris['MyColumn']='Rouzbeh'

In [51]:
logic=iris['sepal_width']<2.5
targets=iris.loc[logic].index

In [48]:
iris.head(2)

   sepal_length  sepal_width  petal_length  petal_width species MyColumn
0           5.1          3.5           1.4          0.2  setosa  Rouzbeh
1           4.9          3.0           1.4          0.2  setosa  Rouzbeh

# Method 1 - Hard

In [38]:
iris.MyColumn = pd.np.where(iris['sepal_width'] <2.5, 'Ali', iris.MyColumn)

In [39]:
iris.loc[logic]

     sepal_length  sepal_width  petal_length  petal_width     species MyColumn
41            4.5          2.3           1.3          0.3      setosa      Ali
53            5.5          2.3           4.0          1.3  versicolor      Ali
57            4.9          2.4           3.3          1.0  versicolor      Ali
60            5.0          2.0           3.5          1.0  versicolor      Ali
62            6.0          2.2           4.0          1.0  versicolor      Ali
68            6.2          2.2           4.5          1.5  versicolor      Ali
80            5.5          2.4           3.8          1.1  versicolor      Ali
81            5.5          2.4           3.7          1.0  versicolor      Ali
87            6.3          2.3           4.4          1.3  versicolor      Ali
93            5.0          2.3           3.3          1.0  versicolor      Ali
119           6.0          2.2           5.0          1.5   virginica      Ali

In [40]:
iris.MyColumn.replace('Rouzbeh','John',inplace=True)

In [45]:
iris.MyColumn.unique()

array(['John', 'Ali'], dtype=object)

# Method 2 - Easy

In [59]:
iris = sns.load_dataset('iris')
iris['MyColumn']='Rouzbeh'

In [61]:
iris.loc[logic,['MyColumn']]='No!!!'

In [62]:
iris[logic]

     sepal_length  sepal_width  petal_length  petal_width     species MyColumn
41            4.5          2.3           1.3          0.3      setosa    No!!!
53            5.5          2.3           4.0          1.3  versicolor    No!!!
57            4.9          2.4           3.3          1.0  versicolor    No!!!
60            5.0          2.0           3.5          1.0  versicolor    No!!!
62            6.0          2.2           4.0          1.0  versicolor    No!!!
68            6.2          2.2           4.5          1.5  versicolor    No!!!
80            5.5          2.4           3.8          1.1  versicolor    No!!!
81            5.5          2.4           3.7          1.0  versicolor    No!!!
87            6.3          2.3           4.4          1.3  versicolor    No!!!
93            5.0          2.3           3.3          1.0  versicolor    No!!!
119           6.0          2.2           5.0          1.5   virginica    No!!!

In [63]:
iris.MyColumn.unique()

array(['Rouzbeh', 'No!!!'], dtype=object)

# Method 3 - advanced

In [68]:
test=iris.copy()

In [71]:
def do(my_input):
    my_input[logic]='This is cool'
    return my_input
test.apply(lambda x:do(x),axis=0)

    sepal_length sepal_width petal_length petal_width    species MyColumn
0            5.1         3.5          1.4         0.2     setosa  Rouzbeh
1            4.9           3          1.4         0.2     setosa  Rouzbeh
2            4.7         3.2          1.3         0.2     setosa  Rouzbeh
3            4.6         3.1          1.5         0.2     setosa  Rouzbeh
4              5         3.6          1.4         0.2     setosa  Rouzbeh
..           ...         ...          ...         ...        ...      ...
145          6.7           3          5.2         2.3  virginica  Rouzbeh
146          6.3         2.5            5         1.9  virginica  Rouzbeh
147          6.5           3          5.2           2  virginica  Rouzbeh
148          6.2         3.4          5.4         2.3  virginica  Rouzbeh
149          5.9           3          5.1         1.8  virginica  Rouzbeh

[150 rows x 6 columns]

In [72]:
test.MyColumn.unique()

array(['Rouzbeh', 'This is cool'], dtype=object)